html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.statusbar {
    position: fixed;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    opacity: .7;
    z-index: 10;
}

#map-canvas {
    position: absolute;
    top: -20%;
    height: 140%;
    width: 100%;
    z-index: 1;
}

.btn {
    position: absolute;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: 0 1px 3px 0 #707070, 0 1px 1px 0 #adadad;
    z-index: 10;
}

.post {
    width: 95%;
    height: 80px;
    left: 2.5%;
    bottom: 1.7%;
    background-color: #755f89;
    color: white;
}

.post:target {
    background-color: gray;
}

.full {
    width: 95%;
    left: 2.5%;
}

.half {
    width: 46.25%;
}

.left {
    left: 2.5%;
}

.right {
    right: 2.5%;
}

.name {
    top: 2%;
    height: 22.5%;
}
    
.row1 {
    top: 26.5%;
    height: 22.5%;
}

.row2 {
    top: 51%;
    height: 22.5%;
}

.back {
    bottom: 2%;
    height: 22.5%;
}


/* INFOWINDOW CONTENT */

.infowindow-content a {
    text-decoration: none;
    color: black;
}
